@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Lexend+Deca:wght@100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";



@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
 
}

@theme {
  --color-broken: oklch(0.9729 0.0076 61.45);
  --color-light-cokelat: oklch(0.9649 0.0186 75.32);
  --color-primary: oklch(0.7281 0.142 71.35);
  --color-secondary: oklch(0.5327 0.108 55.98);
  --color-input: oklch(94.91% 0.018 78.24);

  --font-lexend: "Lexend Deca", sans-serif;
  --font-lily: "Lily Script One", system-ui;

  --breakpoint-xs: 540px;
  --breakpoint-2xl: 90rem;

}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

  @utility text-stroke-1{
    -webkit-text-stroke-width: 1px;
  }
  @utility text-stroke-2{
    -webkit-text-stroke-width: 2px;
  }
  @utility text-stroke-3{
    -webkit-text-stroke-width: 3px;
  }
  @utility text-stroke-4{
    -webkit-text-stroke-width: 4px;
  }
  @utility text-stroke-5{
    -webkit-text-stroke-width: 5px;
  }
  @utility text-stroke-6{
    -webkit-text-stroke-width: 6px;
  }
  @utility text-stroke-7{
    -webkit-text-stroke-width: 7px;
  }

@layer utilities {
  .stroke-color-primary {
    -webkit-text-stroke-color: var(--color-primary);
  }
  .stroke-color-secondary {
    -webkit-text-stroke-color: var(--color-secondary);
  }
  .transparent-text {
    color: transparent;
  }
  /* FBF2E6 */
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */